<form [formGroup]="form" (submit)="login()">
  <h1>Accedi</h1>
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" placeholder="E-mail" formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-icon matSuffix>password</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="accent">Login</button>
</form>