<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/app/clients">Clients</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-flex">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="flex-fill">invoice</span>

      <ng-container *ngIf="(isLoggedIn$ | async) as isLoggedIn; else login">
        <a mat-button routerLink="/app/users/profile" *ngIf="isLoggedIn">Profile</a>
        <button mat-button (click)="logout()">LOGOUT</button>
      </ng-container>

      <ng-template #login>
        <a mat-button routerLink="/login">Login</a>
      </ng-template>



    </mat-toolbar>
    <!-- Add Content Here -->

    <main class="p5">
      <router-outlet></router-outlet>
    </main>


  </mat-sidenav-content>
</mat-sidenav-container>